<!-- Content for the help and intro sections -->
<!--<span onclick="reconnect();" style="color:white;position:absolute;z-index:9600;top:0;right:0;">Test reconnect</span>-->

<div class="black_out hidden" id="screen_overlay">
  <div class="close_button" onClick="closeHelp();" id="closeBtn">x</div>
  <section class="default_content" id="default_content">
    <article id="howtoplay">
      <ul id="howtoplaylist">
        <li id="leftArrow"> <img src="game/images/Chip_select_down.png" width="53" height="49" onclick="previousSlide();" class="cursor fade-control" id="prevArrow"> </li>
        <li style="display: inline; float:left;">
          <div id="slide1">
            <h1>How to play</h1>
            <p>The game is about predicting which player will win the point and how. The fixed odds are shown on the game table below.</p>
            <img src="game/images/HelpScreens/Game-screen-slide1.jpg" width="700" height="451"> </div>
          <div id="slide2" class="hidden">
          	<h1>How to play</h1>
            <p>All betting opportunities on the server side relate solely to the Server winning the point.</p>
            <img src="game/images/HelpScreens/Game-screen-slide2.jpg" width="700" height="451"> </div>
          <div id="slide3" class="hidden">
            <h1>How to play</h1>
            <p>All betting opportunities on the receiver side relate solely to the Receiver winning the point.</p>
            <img src="game/images/HelpScreens/Game-screen-slide3.jpg" width="700" height="451"> </div>
          <div id="slide4" class="hidden">
            <h1>How to play</h1>
            <p>It’s a game where you can bet on any outcome and involves a maximum of three rolls of customized dice.</p>
            <img src="game/images/HelpScreens/Game-screen-slide4.jpg" width="700" height="451"> </div>
          <div id="slide5" class="hidden">
            <h1>How to play</h1>
            <p>The first dice roll is a straight choice about whether the Server or the Receiver wins the point.</p>
            <img src="game/images/HelpScreens/Game-screen-slide5.jpg" width="700" height="451"> </div>
          <div id="slide6" class="hidden">
            <h1>How to play</h1>
            <p>The second dice roll is about how the point was won.</p>
            <img src="game/images/HelpScreens/Game-screen-slide6.jpg" width="700" height="451"> </div>
          <div id="slide7" class="hidden">
            <h1>How to play</h1>
            <p>For the game to continue to a third roll the second dice must land on a <img src="game/images/ResultDice/Result-dice-3.png" width="24" height="25" > signifying a Forehand for the Server or Backhand for the Receiver.</p>
            <img src="game/images/HelpScreens/Game-screen-slide7.jpg" width="700" height="451"> </div>
          <div id="slide8" class="hidden">
            <h1>How to play</h1>
            <p>We use a normal six sided dice, but with a twist. For example in our game ‘Server’ is represented by the <img src="game/images/ResultDice/Result-dice-6.png" width="24" height="25" > face and this appears on three sides of the dice. All the available bets are shown in the table below:</p>
            <table width="700" border="1" class="default-table">
              <tr class="table-top-row">
                <td><h2>Tennis Bets</h2></td>
                <td><h2>Dice face</h2></td>
                <td><h2>Number of sides</h2></td>
                <td><h2>Probability</h2></td>
              </tr>
              <tr class="heading-color">
                <td><h2>Dice 1</h2></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Server</td>
                <td><img src="game/images/ResultDice/Result-dice-6.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/2</td>
              </tr>
              <tr>
                <td>Receiver</td>
                <td><img src="game/images/ResultDice/Result-dice-1.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/2</td>
              </tr>
              <tr class="heading-color">
                <td><h2>Dice 2</h2></td>
                <td><h2>Server side</h2></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Forehand</td>
                <td><img src="game/images/ResultDice/Result-dice-3.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/4</td>
              </tr>
              <tr>
                <td>Smash</td>
                <td><img src="game/images/ResultDice/Result-dice-2.png" width="24" height="25" ></td>
                <td>2</td>
                <td>1/6</td>
              </tr>
              <tr>
                <td>Ace</td>
                <td><img src="game/images/ResultDice/Result-dice-1.png" width="24" height="25" ></td>
                <td>1</td>
                <td>1/12</td>
              </tr>
              <tr class="heading-color">
                <td><h2>Dice 2</h2></td>
                <td><h2>Receiver side</h2></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Backhand</td>
                <td><img src="game/images/ResultDice/Result-dice-3.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/4</td>
              </tr>
              <tr>
                <td>Rally</td>
                <td><img src="game/images/ResultDice/Result-dice-2.png" width="24" height="25" ></td>
                <td>2</td>
                <td>1/6</td>
              </tr>
              <tr>
                <td>Double Fault</td>
                <td><img src="game/images/ResultDice/Result-dice-1.png" width="24" height="25" ></td>
                <td>1</td>
                <td>1/12</td>
              </tr>
              <tr class="heading-color">
                <td><h2>Dice 3</h2></td>
                <td><h2>Server side</h2></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Winner</td>
                <td><img src="game/images/ResultDice/Result-dice-4.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/8</td>
              </tr>
              <tr>
                <td>Volley</td>
                <td><img src="game/images/ResultDice/Result-dice-5.png" width="24" height="25" ></td>
                <td>2</td>
                <td>1/12</td>
              </tr>
              <tr>
                <td>Dropshot</td>
                <td><img src="game/images/ResultDice/Result-dice-6.png" width="24" height="25" ></td>
                <td>1</td>
                <td>1/24</td>
              </tr>
              <tr class="heading-color">
                <td><h2>Dice 3</h2></td>
                <td><h2>Receiver side</h2></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Pass</td>
                <td><img src="game/images/ResultDice/Result-dice-4.png" width="24" height="25" ></td>
                <td>3</td>
                <td>1/8</td>
              </tr>
              <tr>
                <td>Slice</td>
                <td><img src="game/images/ResultDice/Result-dice-5.png" width="24" height="25" ></td>
                <td>2</td>
                <td>1/12</td>
              </tr>
              <tr>
                <td>Lob</td>
                <td><img src="game/images/ResultDice/Result-dice-6.png" width="24" height="25" ></td>
                <td>1</td>
                <td>1/24</td>
              </tr>
            </table>
            <br />
            <br />
          </div>
          <div id="slide9" class="hidden">
            <h1>How to play</h1>
            <p>To start the game press “ROLL”.</p>
            <img src="game/images/HelpScreens/Game-screen-slide9.jpg" width="700" height="451"> </div>
          <div id="slide10" class="hidden">
            <h1>How to play</h1>
            <p>The winning outcome remains highlighted with an icon. Losing outcomes turn white.</p>
            <img src="game/images/HelpScreens/Game-screen-slide10.jpg" width="700" height="451"> </div>
          <div id="slide11" class="hidden">
            <h1>How to play</h1>
            <p>The results for the last three points are found here.</p>
            <img src="game/images/HelpScreens/Game-screen-slide11.jpg" width="700" height="451"> </div>
          <div id="slide12" class="hidden">
            <h1>How to play</h1>
            <p>To earn a bonus you need to place equal wagers on the three winning balls.</p>
            <img src="game/images/HelpScreens/Game-screen-slide12.jpg" width="700" height="451">
            <p>The bonus calculations are a percentage of your stake. </p>
            <table width="400" border="1" class="default-table">
              <tr class="table-top-row">
                <td><h2>Your Bet</h2></td>
                <td><h2>Bonus</h2></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Server, Forehand, Dropshot</td>
                <td>70%</td>
              </tr>
              <tr>
                <td>Receiver, Backhand, Lob</td>
                <td>70%</td>
              </tr>
              <tr>
                <td>Server, Forehand, Volley</td>
                <td>40%</td>
              </tr>
              <tr>
                <td>Receiver, Backhand, Slice</td>
                <td>40%</td>
              </tr>
              <tr>
                <td>Server, Forehand, Winner</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Receiver, Backhand, Pass</td>
                <td>20%</td>
              </tr>
            </table>
		  </div>
        </li>
        <li id="rightArrow"> <img src="game/images/Chip_select_up.png" width="53" height="49" onclick="nextSlide();" class="cursor" id="nextArrow"> </li>
      </ul>
    </article>
  </section>
</div>
<!-- Required for the game -->
<div id="gameBG"> </div>
<!-- Debugging -->
<div id="debuglog"> </div>
<!-- Required for the bonus screen -->
<div id="playerNotifier">
<div class="left-border"><img src="game/images/NotifierLeft.png" width="174" height="197.5" ></div>
  <div class="notifier-text">
      <p id="notifierContent"></p>
  </div>
  <div class="right-border"><img src="game/images/NotifierRight.png" width="165.5" height="205" ></div>
</div>
<!-- Label dialogue box -->
<div id="hoverLabel">
  <div class="inner-shadow">
    <div class="label-top-arrow hidden" ><img src="game/images/Arrow_up.png" width="27" height="15" /></div>
    <div class="label-left-arrow hidden"><img src="game/images/Arrow_left.png" width="15" height="27" /></div><div class="label-right-arrow hidden"><img src="game/images/Arrow_right.png" width="15" height="27" /></div>
    <span id="hoverLabelText"></span>
    
    <div class="label-bottom-arrow hidden"><img src="game/images/Arrow_down.png" width="27" height="15" /></div>
  </div>
</div>
