body {
	font-family: Arial, Helvetica, sans-serif;/*background-color:#06C;*/
}
h1, h2, h3, h4, h5 {
	color: #6ce500;
}
/***************************************
	Game background
***************************************/

#gameBG {
	width: 100%;
	height: 100%;
	background-color: #000;
}
/***************************************
	Game div - not being used 
***************************************/

/*#game {
	height: 640px;
	width:1136px;
	padding: 20px;
	position:absolute;
	z-index:25;
}*/

/***************************************
	Bonus screen
***************************************/

#playerNotifier {
	padding: 25px;
	font-size: 2em;
	font: Arial, Helvetica, sans-serif;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 13%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(13%,#000000), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 13%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#000000 13%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#000000 13%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#000000 13%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	position: absolute;
	z-index: 1050;
	top: -5000px;
	color: #fff;
	width: 600px;
	border: 2px solid #ffea4e;
	box-shadow: inset 0 0 0 3px #7a3900,  inset 0 0 0 5px #989898;
	
	/* Prevent notifier from being selectable */
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

.left-border {
	position:absolute;left:-75px;top:-25px; z-index:10;
}
.right-border {
	position:absolute;right:-75px;top:-25px; z-index:12;
}
.notifier-text {
	width:450px; margin-left:75px; text-align:center;
}

#notifierClose {
	position: absolute;
	z-index: 20;
	bottom:-25px;
	left:295px;
	display: inline-block;
	padding: 10px;
	background-color: hsl(0, 69%, 22%) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
	background-image: -moz-linear-gradient(top, #b42121, #5e1111);
	background-image: -ms-linear-gradient(top, #b42121, #5e1111);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
	background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
	background-image: -o-linear-gradient(top, #b42121, #5e1111);
	background-image: linear-gradient(#b42121, #5e1111);
	border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
	color: white;
	font-weight: bold;
	font-size: 0.75em;
	-webkit-border-radius: 5px;
	-moz-border-radius:  5px;
	border-radius: 5px;
	cursor:pointer;
}
/***************************************
	Only used for debugging purposes
***************************************/

#debuglog {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: white;
	display: inline-block;
}
/***************************************
	General styles
***************************************/

.hidden {
	display: none !important;
}
/***************************************
	Page styles
***************************************/

.black_out {
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	z-index: 8888;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.close_button {
	position: absolute;
	z-index: 9500;
	margin-top: 0px;
	right: 0;
	display: inline-block;
	padding: 10px;
	background-color: hsl(0, 69%, 22%) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
	background-image: -moz-linear-gradient(top, #b42121, #5e1111);
	background-image: -ms-linear-gradient(top, #b42121, #5e1111);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
	background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
	background-image: -o-linear-gradient(top, #b42121, #5e1111);
	background-image: linear-gradient(#b42121, #5e1111);
	border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
	color: white;
	font-weight: bold;
	font-size: 2em;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}
.close_button img {
	display: block;
}
.close_button:hover {
	cursor: pointer;
}
section.standard_box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	display: inline-block;
	text-align: left;
	margin-top: 45px;
}
.default_content {
	margin: 0 auto;
	width: 900px;
	height: 100px;
	color: white;
}
.overY {
	overflow-y: scroll;
	overflow-x: hidden;
}
/**************************************
	Page navigation
**************************************/

#navigation {
	margin-top: 45px;
}
#navSelect {
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/**************************************
	Hover label
**************************************/

#hoverLabel {
	background-color:#945dd2;
	color:white;
	font-size:1.5em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:3px solid white;
	 -moz-box-shadow:    -1px 2px 2px 3px #000;
	  -webkit-box-shadow: -1px 2px 2px 3px #000;
	  box-shadow:         -1px 2px 2px 3px #000;
	  position:absolute;
	  z-index:19;
	  top:200px;
	  left:-5000px;
}
.inner-shadow {
		padding:10px;
	 -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
      -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#hoverLabel span {
	display:inline-block;
	font-family: 'Comfortaa', serif;
}

.label-top-arrow {
	display:inline-block;width:100%;text-align:center;display:none;
}
.label-left-arrow {
	height:100%;display:inline-block;float:left;margin-right:10px;
}
.label-right-arrow {
	height:100%;display:inline-block;float:right;margin-left:10px;
}
.label-bottom-arrow {
	display:inline-block;width:100%;text-align:center;
}
/**************************************
	Intro and help content slides
**************************************/

#howtoplay {
	width: 900px;
	margin: 0 auto;
	background-color: black;
}
#howtoplay p {
	color: white;
	text-align: left;
	width: 700px;
	font-size: 2em;
}
#howtoplay h1 {
	text-align: left;
	width: 700px;
	font-size: 2em;
}
#howtoplay ul {
	list-style: none;
	float: left;
	position: relative;
}
#leftArrow {
	width: 53px;
	margin-right: 10px;
	display: inline;
	float: left;
	padding-top: 250px;
}
#rightArrow {
	width: 53px;
	margin-left: 10px;
	display: inline;
	float: left;
	padding-top: 250px;
}
.cursor {
	cursor: pointer;
}
.fade-control {
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
	cursor: default;
}
.default-table {
	background-color: #ccc;
	color: black;
	border-collapse: collapse;
	border-color: #fff;
}
.default-table td {
	font-weight: bold;
}
.default-table h2 {
	margin: 0;
	padding: 2px;
	color: #333;
	font-size: 20px;
}
.table-top-row h2 {
	margin: 5px 0;
}
.heading-color {
	background-color: #12b566;
}
/***************************************
	Preloader
***************************************/

.loading-screen {
	/*background-image: url(../images/SplashScreen.jpg);*/
	background-image: url(../images/SplashScreen.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.loading-bar {
	width: 600px;
	height: 10px;
	display: inline-block;
	margin-top: 700px;
	background-color: black;
	border: 1px solid yellow;
}
.loading-progress {
	background-color: yellow;
	height: 10px;
}

/***************************************
	Media queries
***************************************/

/* Landscape iphone 4 */
@media (max-width: 960px) {
#navSelect {
	font-size: 30px;
}
.close_button {
	top: 50px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
/***************************************
	Preloader
***************************************/
		
.loading-screen {
	background-image: url(../images/SplashScreen-mobile.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.loading-bar {
	width: 600px;
	height: 10px;
	display: inline-block;
	margin-top: 375px;
	background-color: black;
	border: 1px solid yellow;
}
#howtoplay p {
	color: white;
	text-align: left;
	width: 700px;
	font-size: 2.5em !important;
}
}

/* iPhone 5 */

@media screen and (device-aspect-ratio: 40/71) {
	
#navSelect {
	font-size: 30px;
}
.close_button {
	top: 50px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
/***************************************
	Preloader
***************************************/
		
.loading-screen {
	background-image: url(../images/SplashScreen-mobile.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.loading-bar {
	width: 600px;
	height: 10px;
	display: inline-block;
	margin-top: 375px;
	background-color: black;
	border: 1px solid yellow;
}
#howtoplay p {
	color: white;
	text-align: left;
	width: 700px;
	font-size: 2.5em !important;
}
	
}

/* Landscape tablet */
@media (max-width: 1024px) {
#navSelect {
	font-size: 30px;
}
/***************************************
	Preloader
***************************************/
		
.loading-screen {
	background-image: url(../images/SplashScreen-mobile.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}
.loading-bar {
	width: 600px;
	height: 10px;
	display: inline-block;
	margin-top: 375px;
	background-color: black;
	border: 1px solid yellow;
}
}

/* Landscape tablet */
@media (max-height: 640px) {
	
	#navSelect {
		font-size: 30px;
	}
	.close_button {
		top: 50px;
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}
	
	/***************************************
		Preloader
	***************************************/
			
	.loading-screen {
		background-image: url(../images/SplashScreen-mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
		background-attachment: fixed;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
	}
	.loading-bar {
		width: 600px;
		height: 10px;
		display: inline-block;
		margin-top: 375px;
		background-color: black;
		border: 1px solid yellow;
	}
	#howtoplay p {
		color: white;
		text-align: left;
		width: 700px;
		font-size: 2.5em !important;
	}
}
